#---- nodemanten
APP_PORT=3001
MONGO_URI=mongodb://imauser:andihaveapassowrd@mongodb/manten?authSource=admin
#---- mongodb
MONGO_INITDB_ROOT_USERNAME=imauser
MONGO_INITDB_ROOT_PASSWORD=andihaveapassowrd
MONGO_INITDB_PORT=27018